@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light by default */
:root {
  --bg: #ECF3F6;
  --surface: #FFFFFF;
  --surface2: #F3F7FA;
  --text: #0F172A;
  --subtext: #475569;
  --border: #D1D5DB;
  --brand: #1B8354;
  --brandAlt: #145E3D;
  --success: #C1E4C1;
}

/* Dark */
[data-theme="dark"] {
  --bg: #111927;
  --surface: #1F2A37;
  --surface2: #0D3D27;
  --text: #E5E7EB;
  --subtext: #9CA3AF;
  --border: #263241;
}

/* Utils */
body { font-feature-settings: "ss01" on; }
