python-dotenv
PyYAML
supabase>=2.6.0


langchain-core
langchain-community>=0.2.10

langchain-text-splitters
openai
tiktoken
requests
pydantic

langchain>=0.2.14
langchain-openai>=0.3.0
langchain-chroma>=0.1.2

chromadb>=0.5.5